body{
    background-color: rgb(255, 243, 245);
}
div{
    text-align: center;
}
a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    color: #f83184;
}
button{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 172, 193);
}
button:hover{
    background-color: rgb(255, 117, 186);
}
#help{
    position: absolute;
    top:0;
    right: 100px;
    margin: 1px;
}
#topicos{
    margin: 7px;
}
h1{
    font-size: 40px;
    font-family:unset;
    background-color: #e7a1ac;
}
#subtopicos{
    font-size: 27px;
    font-family:cursive;
    text-align: left;
}
#textos{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#enfase{
    background-color: #fd7575;
}
#tema{
    position: absolute;
    top:0;
    right: 60px;
    margin: 5px;
}
#pausar{
    position: absolute;
    top:0;
    right: 20px;
    margin: 5px;
}
hr{
    border: 1px solid #ffc4ce;   
}
.container{
    max-width: 1300px;
    min-width: 1250px;
    min-height: 500px;
    max-height: 700px;
}
.carrossel{
   display: grid;
   grid-auto-flow: column;
   gap: 1.2rem;
   overflow-x: auto;
   overscroll-behavior-x: contain;
   scroll-snap-type: x mandatory;
}
.card{
    background: rgb(255, 243, 245);
    min-height: 500px;
    min-width: 1200px;
    border-radius: 16px;
    overflow: hidden;
    scroll-snap-align: center;
}




